<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img//mini.jpg"> 

    <link rel="stylesheet" href="./css/styles.css">


<head>

<body>
    <div class="main-content">
         {{>header}}

         <p>Thanks for using donate to {{helpText}}</p>

    </div>
   
    {{>footer}}

</body>

</html>